@import '../../sass/variables';

.pokemon-card {
  display: flex;
  flex-direction: column;
  background-color: $anti-flash-white;
  border-radius: 0.25rem;
  overflow: hidden;

  & .pokemon-card__img {
    align-self: center;
  }

  & .pokemon-card__footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
  }

  &--small {
    width: 216px;
    height: 238px;

    & .pokemon-card__title {
      margin-top: 6px;
      margin-left: 6px;
      margin-bottom: 0;
    }

    & .title__id {
      font-weight: 300;
      padding-right: 0.5rem;
    }

    & .title__name {
      display: inline-block;
      font-weight: 700;
      text-transform: capitalize;
    }

    & .pokemon-card__img img {
      height: 179px;
    }
  }

  &--large {
    width: 510px;
    height: 496px;

    & .pokemon-card__title {
      display: none;
    }

    & .pokemon-card__img img {
      height: 446px;
    }
  }
}
