.pokemon-list {
  margin: 0 60px;
}

.pokemon-list h1 {
  margin: 54px 0;
  text-transform: uppercase;
}

.pokemon-list__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}