// Color

$anti-flash-white: #f2f1f1;
$timberwolf: #d8d8d8;
$paynes-grey: #606c78;
$dark-gunmetal: #1f2532;
$united-nations-blue: #4a90e2;
$bright-lavender: #be93e7;
$spanish-orange: #e85b0e;
$june-bud: #a0da5e;

$font-color: $dark-gunmetal;
// Spacing

$spacer: 1rem !default;

// Typography

$font-family-base: "Montserrat", sans-serif;
$font-size-base: 1rem !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;
