@font-face {
  font-family: "Alternate Medium";
  src: url("./assets/fonts/DIN-Alternate-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("./assets/fonts/Montserrat-UltraLight.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@import "./variables";
@import "./types";
