@import '../../sass/variables';

.pokemon-type-badge__container {
  display: inline-block;
  width: 50%;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 100%;
  }

  &--small {
    height: 22px;
  }
  &--large {
    height: 50px;
  }
  &--default {
    height: 36px;
  }

  &--left {
    border-top-right-radius: 0.25rem;
  }
  &--right {
    border-top-left-radius: 0.25rem;
  }
  &--center {
    border-radius: 0.25rem;
  }

  @each $color-name in map-keys($badges-colors) {
    $color: map-get($badges-colors, $color-name);
    &--#{$color-name} {
      @if $color-name == 'ground' {
        background: linear-gradient(180deg, $color 50%, $ground-second 50%);
      } @else if $color-name == 'flying' {
        background: linear-gradient(180deg, $color 50%, $flying-second 50%);
      } @else if $color-name == 'dragon' {
        background: linear-gradient(180deg, $color 50%, $dragon-second 50%);
      }
      background-color: $color;
    }
  }
}
