@import '../../sass/variables';

.pokemon-detail {
  padding: 0 32px;
}

.pokemon-detail__pokemon-name {
  margin: 32px 0;
  text-align: center;

  & .pokemon-name__id {
    font-weight: 300;
    padding-right: 0.5rem;
  }
  & .pokemon-name__name {
    display: inline-block;
    text-transform: capitalize;
  }
}

.pokemon-detail__detail {
  display: flex;

  & .detail__general {
    width: 510px;
  }

  & .general__specie {
    text-align: justify;
    margin-top: 25px;
  }
}

.detail__complement {
  margin-left: 32px;
  width: 100%;
  & .detail__characteristics {
    padding: 58px;
    border-radius: 0.25rem;
    background-color: $united-nations-blue;
  }

  & .detail__status {
    margin-top: 32px;
    padding: 42px 24px;
    border-radius: 0.25rem;
    background-color: $anti-flash-white;
  }
}

.detail__status h3 {
  margin-block-start: 0px;
  margin-block-end: 8px;
  font-weight: 700;
}

.detail__characteristics .characteristics__basic-info {
  display: inline-block;

  &:nth-child(even) {
    padding-left: 80px;
    padding-right: 20px;
  }
  & .basic-info__title {
    font-family: 'Montserrat Regular';
    color: white;
    margin-bottom: 5px;
  }

  & .basic-info__value {
    font-family: 'Montserrat Light';
    margin-top: 0px;

    &--capitalize {
      text-transform: capitalize;
    }
  }
}

.status__stats {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.status__stats .stats__grouping {
  width: 56px;

  &:not(:last-child) {
    margin-right: 7px;
  }
}

.stats__grouping .stats__bar {
  position: relative;
  background-color: $white;
  height: 116px;
  width: 56px;
}

.stats__bar .bar__filled {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $united-nations-blue;
  height: 22px;
  width: 56px;

  @for $i from 1 through 100 {
    &--#{$i} {
      height: #{$i}px;
    }
  }
}

.stats__grouping span {
  width: 100%;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 13px;
}

.pokemon-detail__moves h2 {
  font-weight: 700;
}

.pokemon-detail__moves .moves__container {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  text-align: center;
  justify-items: center;

  & .container__move-detail {
    width: 212px;
    height: 36px;
    margin-bottom: 24px;
    &:not(:nth-child(4n)) {
      margin-right: 34px;
    }
  }
}

.pokemon-detail__explore-more {
  padding: 36px 0px 60px 0px;
  text-align: center;
}
